body {
    overflow-x: hidden;
    background: #1c1d21;
    font-family: 'Anton', sans-serif;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.grecaptcha-badge {
    display: none !important;
}

html {
    height: -webkit-fill-available;
}

*:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.noscroll {
    overflow: hidden;
}

a,
button {
    transition: all 0.25s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
}

.heightSpacer {
    height: 10vw;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    color: #FFF9E0;
}

.tel-link {
    pointer-events: none;
    cursor: default;
}

.aSection {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    /*overflow: hidden;*/
    /*border-bottom: 1px dashed rgba(255,255,255,.1);*/
}

/* Animations  */

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

@keyframes floatRotate1 {
    0% {
        transform: translatey(0px) rotate(0);
    }
    20% {
        transform: translatey(-5px) rotate(-3deg);
    }
    50% {
        transform: translatey(5px) rotate(0);
    }
    80% {
        transform: translatey(-5px) rotate(3deg);
    }
    100% {
        transform: translatey(0px) rotate(0);
    }
}

@keyframes floatRotate2 {
    0% {
        transform: translatey(0px) rotate(0);
    }
    20% {
        transform: translatey(5px) rotate(3deg);
    }
    50% {
        transform: translatey(-5px) rotate(0);
    }
    80% {
        transform: translatey(5px) rotate(-3deg);
    }
    100% {
        transform: translatey(0px) rotate(0);
    }
}

@keyframes floatRotate3 {
    0% {
        transform: translatey(0px) rotate(0);
    }
    20% {
        transform: translatey(-5px) rotate(-3deg);
    }
    50% {
        transform: translatey(5px) rotate(2deg);
    }
    80% {
        transform: translatey(-5px) rotate(5deg);
    }
    100% {
        transform: translatey(0px) rotate(0);
    }
}

@keyframes floatRotate4 {
    0% {
        transform: translatey(0px) rotate(0);
    }
    20% {
        transform: translatey(8px) rotate(5deg);
    }
    50% {
        transform: translatey(-5px) rotate(0);
    }
    80% {
        transform: translatey(8px) rotate(-5deg);
    }
    100% {
        transform: translatey(0px) rotate(0);
    }
}

@keyframes marquee {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}

/* Fixed elements */

header {
    position: fixed;
    z-index: 900;
}

.logo {
    position: fixed;
    top: 2.5vw;
    left: 2.5vw;
    z-index: 900;
    transition: all 0.25s ease;
}

header.sticky .logo {
    opacity: 1;
}

nav {
    position: fixed;
    top: 2.5vw;
    right: 2.5vw;
    z-index: 100;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li a,
.wpml-ls-legacy-list-horizontal a {
    font-size: 1vw;
    line-height: 1.5;
    color: #168DFF;
    text-transform: uppercase;
    padding: 0;
}

nav ul li a.aActive {
    color: #fff;
}

nav ul li a:hover,
nav ul li.active a {
    color: #FFF9E0;
    text-decoration: none;
}

nav ul.lang,
.wpml-ls-legacy-list-horizontal {
    margin-bottom: 2vw;
}

.wpml-ls-legacy-list-horizontal {
    border: 0;
    padding: 0;
}

.book_a_demo {
    position: fixed;
    right: 2.5vw;
    bottom: 2.5vw;
    z-index: 1;
    font-size: 1.2vw;
    line-height: 1.5;
    color: #FFF9E0;
    text-transform: uppercase;
    border-bottom: 2px solid #FFF9E0;
    transition: all 0.25s ease;
}

.book_a_demo:hover {
    color: #168DFF;
    border-bottom: 2px solid #168DFF;
    text-decoration: none;
}

header.sticky .book_a_demo,
header .book_a_demo {
    opacity: 1 !important;
}

header.sticky .book_a_demo.hideDesktop,
header .book_a_demo.hideDesktop {
    opacity: 0 !important;
}

.preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #1c1d21;
}

/* Home */

#home {
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,212,255,1) 3%, rgba(28,29,33,1) 89%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    align-items: center;
    justify-content: center;
}

.hero_phone {
    width: auto;
    height: 20vw;
    animation: float 4s ease-in-out infinite;
}

h1 {
    font-size: 10vw;
    line-height: .9;
    color: #FFF9E0;
    text-transform: uppercase;
    position: absolute;
    bottom: 5vw;
    left: 10vw;
    margin: 0;
    padding: 0;
}

h1 span {
    display: block;
    position: relative;
}

h1 span.line2 {
    left: 3.15vw;
}

h1 span.slogan {
    font-size: 3vw;
    color: #168DFF;
    line-height: 1.25;
    left: 3.25vw;
}

.hero_scroll {
    position: absolute;
    bottom: 1vw;
    width: 2vw;
    z-index: 100;
}

.hero_scroll svg {
    width: 2vw;
    cursor: pointer;
}

.hero_scroll svg * {
    transition: all 0.1s ease;
}

.hero_scroll svg:hover * {
    fill: #FFF9E0;
}

/* What is it */

h2 {
    font-size: 3.5vw;
    line-height: 1;
    color: #FFF9E0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 12vw;
    top: 2.5vw;
    text-transform: uppercase;
    z-index: 300;
}

h2 span {
    display: block;
}

h2::after {
    content: "";
    background-color: #FFF9E0;
    height: 2px;
    width: 100%;
    display: block;
    margin-top: 5px;
}

#whatisit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatisit_slider {
    color: #FFF9E0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.whatisit_slide {
    position: relative;
    color: #FFF9E0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100vw !important;
}

.whatisit_slider_content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF9E0;
    width: 100%;
    height: 100vh;
}

.whatisit_slider_content .foam {
    width: 23vw;
    position: absolute;
    margin-top: -6vw;
    margin-left: -8vw;
}

.whatisit_slider_content .iphone {
    width: 15vw;
    position: absolute;
    margin-right: -8vw;
    margin-bottom: -2vw;
}

.whatisit_slider_content .carres {
    width: 50vw;
    position: absolute;
}

.whatisit_slider_content .casquette {
    width: 50vw;
    position: absolute;
}

.whatisit_slider_content .slider_text {
    font-size: 1.5vw;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    z-index: 200;
    width: 25vw;
    text-transform: uppercase;
}

.whatisit_slider_content .slider_text span {
    display: block;
    margin-bottom: 1.5rem;
}

.whatisit_slider_content .slider_text span:last-child {
    margin-bottom: 0;
}

.whatisit_slider_content .slider_text_back {
    color: #001133;
    font-size: 13vw;
    line-height: 1;
    text-transform: uppercase;
    position: absolute;
    bottom: 6vw;
    left: 12vw;
    z-index: -1;
}

.whatisit_slider_content .slider_text_back span {
    display: block;
}

.whatisit_slider_num {
    position: absolute !important;
    bottom: 4vw;
    display: flex;
    z-index: 200;
}

.num_content {
    padding: 0 2vw;
    font-size: 1.2vw;
    color: #168DFF;
    cursor: pointer;
}

.num_content.active a,
.num_content a:hover {
    color: #FFF9E0;
    text-decoration: none;
}

.fp-controlArrow {
    display: none;
}

/* Where its works */

#whereitworks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats-wrapper {
    margin: auto;
    width: 50vw;
}

.aStats1 {
    display: block;
    margin-left: auto;
    padding: 2vw;
    width: 80%;
    /*animation: floatRotate1 8s ease-in-out infinite;*/
}

.aStats2 {
    display: block;
    margin-right: auto;
    padding: 2vw;
    width: 70%;
    /*animation: floatRotate2 7s ease-in-out infinite;*/
}

.aStats3 {
    display: block;
    margin-left: auto;
    padding: 2vw;
    width: 95%;
    /*animation: floatRotate3 10s ease-in-out infinite;*/
}

.aStats4 {
    display: block;
    margin-right: auto;
    padding: 2vw;
    width: 75%;
    /*animation: floatRotate4 15s ease-in-out infinite;*/
}


.source {
    position: absolute;
    left: 12vw;
    bottom: 2.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: .75rem;
    color: #168DFF;
    text-transform: uppercase;
}

.source:hover {
    color: #FFF9E0;
    text-decoration: none;
}

/* Why SMS */

#whysms {
    display: flex;
    align-items: center;
    justify-content: center;
}

.whysms_text_back {
    color: #168DFF;
    font-size: 28vw;
    line-height: 1;
    text-transform: uppercase;
    position: absolute;
    z-index: -1;
    top: 15vw;
}

.aBox-wrapper {
    position: relative;
    top: 30vh;
    margin: 0 15vw 30vh 15vw;
}

.aBox {
    width: 100%;
    padding: 2.5vw;
    background-color: #02082C;
    color: #FFF9E0;
    border-radius: 1rem;
    margin: 2.5vw;
    display: block;
    position: relative;
    transition: all 0.25s ease;
}

.aBox:hover {
    animation-play-state: paused;
}

.aBox h3 {
    font-size: 2.5vw;
    line-height: 1;
    color: #FFF9E0;
    margin: 0 0 1rem 0;
    padding: 0;
    text-transform: uppercase;
}

.aBox_content {
    height: 12vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    border-top: 10px solid #168DFF;
    border-bottom: 10px solid #168DFF
}

.aBox p,
.aBox ul {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
}

.aBox ul li {
    margin-bottom: 1rem;
}

.aBox ul li:last-child {
    margin: 0;
}

.animBox1 {
    animation: floatRotate1 8s ease-in-out infinite;
}

.animBox2 {
    animation: floatRotate2 7s ease-in-out infinite;
}

.animBox3 {
    animation: floatRotate3 10s ease-in-out infinite;
}

.animBox4 {
    animation: floatRotate4 15s ease-in-out infinite;
}

/* Bring the action */

#bringtheaction1,
#bringtheaction2,
#bringtheaction3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.movin_text_back {
    font-size: 10vw;
    color: #168DFF;
    text-transform: uppercase;
    line-height: 1;
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 10vw;
    overflow: hidden;
    z-index: -1;
}

.movin_text_back .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
}

.movin_text_back .track span {
    padding: 0 2.5vw;
}

.overlay_img {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.overlay_img1 {
    width: 22vw;
    height: auto;
    position: absolute;
    z-index: 200;
    left: -19vw;
    margin-top: -16vw;
    max-width: inherit !important;
    border-radius: 40px;
}

.overlay_img2 {
    width: 35vw;
    height: auto;
    position: absolute;
    left: -8vw;
    z-index: 100;
    max-width: inherit !important;
    border-radius: 40px;
}

.overlay_text {
    position: absolute;
    left: 12vw;
    top: 65%;
}

.overlay_text p {
    width: 25vw;
}

h3 {
    font-size: 2.5vw;
    line-height: 1;
    color: #FFF9E0;
    margin: 0 0 .5rem 0;
    padding: 0;
    text-transform: uppercase;
}

h3 img {
    display: block;
    width: 2vw;
    margin-top: .25vw;
}

/* WORK */

#work {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-blue {
    background-color: #3B83F7;
    border-radius: 1.5rem;
    display: inline-block;
    color: #FFF9E0;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .75rem 1.5rem;
    margin-top: 1.5rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .3);
}

.btn-blue:hover {
    background-color: #FFF9E0;
    color: #3B83F7;
    text-decoration: none;
}

.no_top {
    top: inherit;
}

#work .overlay_img {
    justify-content: center;
}

.overlay_img3 {
    width: 50vw;
    height: auto;
    position: absolute;
    z-index: 100;
    max-width: inherit !important;
}

.light_bg_text_top,
.light_bg_text_bottom {
    position: absolute;
    z-index: -1;
    color: transparent;
    -webkit-text-fill-color: transparent;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #168DFF;
    font-size: 12.5vw;
    line-height: .9;
    text-transform: uppercase;
    left: .5vw;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-align: justify;
    opacity: .5;
}

.light_bg_text_top::after,
.light_bg_text_bottom::after {
    content: "";
    display: inline-block;
    width: 100%;
}

.light_bg_text_top {
    top: 0;
}

.light_bg_text_bottom {
    bottom: 0;
}

/* CONTACT */

#contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 55vw auto;
    background-position: bottom left;
}

.contact_form_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -10vw;
}

.contact_text {
    width: 17vw;
    margin-right: 5vw;
}

.contact_form {
    width: 25vw;
}

h4 {
    font-size: 1.5vw;
    line-height: 1.3;
    color: #FFF9E0;
    margin: 0 0 1.5rem 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.aField input,
.aField textarea {
    background-color: #FFF9E0 !important;
    border-radius: 2rem !important;
    border: 0 !important;
    color: #168DFF !important;
    font-size: 1rem !important;
    height: auto !important;
    padding: 1rem 2rem !important;
    width: 100% !important;
    display: block !important;
    margin: 0 !important;
}

.aField textarea {
    height: 8vw !important;
}

label {
    font-size: 1vw !important;
    color: #FFF9E0;
    text-transform: uppercase !important;
    margin-left: 1.25vw !important;
    font-weight: inherit !important;
}

div.wpforms-container-full .wpforms-form .wpforms-required-label {
    color: #FFF9E0 !important;
    font-weight: inherit !important;
}

.contact_form .btn-blue {
    background-color: #3B83F7 !important;
    border-radius: 1.5rem !important;
    display: inline-block !important;
    color: #FFF9E0 !important;
    text-transform: uppercase !important;
    font-size: 1.2rem !important;
    padding: .75rem 1.5rem !important;
    margin: 0 !important;
    float: right !important;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .3) !important;
    border: 0 !important;
}

.contact_form .btn-blue:hover {
    background-color: #FFF9E0 !important;
    color: #3B83F7 !important;
    text-decoration: none !important;
}

/* footer */

footer .desktop {
    display: flex;
}

footer .mobile {
    display: none;
}

footer {
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/footer_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    padding: 1vw 2.5vw;
    z-index: 500;
}

footer p {
    margin: 0;
}

.col_left {
    min-height: 6vw;
    display: flex;
    align-items: center;
}

.col_center {
    min-height: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col_right {
    min-height: 6vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

footer .logo_footer {
    width: 3vw;
    margin-bottom: .5rem;
}

footer nav {
    position: static;
    font-family: 'Anton', sans-serif;
}

footer nav ul li {
    display: inline-block;
    padding-left: 1rem;
}

footer .powered {
    font-weight: 700;
    color: #168DFF;
    font-size: 1vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .powered span {
    display: inline-block;
    margin-right: .25rem;
}

footer .powered a {
    text-decoration: underline;
    color: #168DFF;
}

footer .copyright {
    color: #fff;
    font-weight: bold;    
    font-weight: 400;
}

.social a {
    color: #80AFED;
    font-size: 1.5vw;
    margin: 0 .5rem;
}

.social a:hover {
    color: #FFF9E0;
    text-decoration: none;
}

tspan{
    color: #fff;
}